*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h2{
    text-align: center;
    margin: 30px;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    gap: 11px;
}

button{
    width: 80px;
    height: 40px;
    background-color: aquamarine;
}
